<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>
<form action="/artist-search" method = "GET">\

<label for="artist">Artist:</label>
<input type="text" id="artist" name="artist"><br><br>
<button type = "submit">Search for an Artist</button></p>

</form>  

